/*** Estilo sobrio 


ion-card,
.ion-card {
  border: 3px solid #e0e0e0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
  border-radius: 16px;
  transition: box-shadow 0.2s;
  background: #fff;
}

/* Título del IonCard */
/***
.ion-card-title,
ion-card-title {
  font-weight: bold;
  font-size: 18px;
  color: #222 !important; 
}

/* Subtítulo del IonCard */
/***
.ion-card-subtitle,
ion-card-subtitle {
  color: #444;
  font-size: 14px;
  font-weight: normal;
}

/* Contenido del IonCard */
/***
.ion-card-content,
ion-card-content {
  color: #000;
  font-size: 12px;
}


/***estilo moderno A **/
.cv-card {
  background: #fdfdfd;
  border: 2px solid #1c2a18;
  box-shadow: 0 6px 18px rgba(34, 197, 94, 0.18);
  border-radius: 18px;
  transition: box-shadow 0.2s;
}

.cv-card ion-card-title,
.cv-card .ion-card-title {
  font-weight: bold;
  font-size: 18px;
  color: #295a89 !important;
}

.cv-card ion-card-subtitle,
.cv-card .ion-card-subtitle {
  color: #8ea704;
  font-size: 13px;
  font-weight: normal;
}

.cv-card ion-card-content,
.cv-card .ion-card-content {
  color: #050505;
  font-size: 14px;
}

.cv-card ion-list {
  background: #ffffff !important;
}

.cv-card ion-item {
  --background: #ffffff !important;
  font-weight: 500;
  color: #050505 !important;
  font-size: 14px !important;

}

.cv-content {
  --background: #ffffff !important;
}

.cv-card-title-header {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 0.2em;
}

.cv-card-subtitle-header {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 1.3rem;
  color: #7b8a8b;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1em;
}

.cv-card-contact-header {
  text-align: center;
  color: #7b8a8b;
  font-size: 1.05rem;
  margin-bottom: 1em;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.cv-card-contact-header a {
  color: #2563EB;
  text-decoration: none;
  font-weight: 500;
}

.cv-card-contact-header a:hover {
  text-decoration: underline;
}

.cv-card-title-2 {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0.2em;
}

.cv-card-title-3 {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px !important;
  font-weight: bold;
  color: #295a89 !important;
  margin-bottom: 0.2em;
}